<app-barranavegacion></app-barranavegacion>
<div class="container">
    <h1>Angular 17 CRUD with Node JS MySQL Example - ItSolutionStuff.com</h1>
    <a routerLink="/asignatura/create/" class="btn btn-success">Crear Nueva Asignatura</a>
      
    <table class="table table-striped table-bordered">
        <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Body</th>
                <th width="250px">Action</th>
              </tr>
        </thead>
        <tbody>
              <tr *ngFor="let asignatura of asignatura">
                <td>{{ asignatura.id }}</td>
                <td>{{ asignatura.title }}</td>
                <td>{{ asignatura.body }}</td>
                <td>
                  <a href="#" [routerLink]="['/asignatura/', asignatura.id, 'view']" class="btn btn-info">View</a>
                  <a href="#" [routerLink]="['/asignatura/', asignatura.id, 'edit']" class="btn btn-primary">Edit</a>
                  <button type="button" (click)="deleteasignatura(asignatura.id)" class="btn btn-danger">Delete</button>
                </td>
              </tr>
        </tbody>
    </table>
</div>
