:root{
  --color-white:#f2f2f2;
}
body {
  height: 100vh;
  font-family: 'Times New Roman';
  margin: 1px;
  padding: 1px;
  background-color:#0056b3 ;
  display: flex; /* Añadido */
  flex-direction: column; /* Añadido */
  /*align-items: center; /* Añadido */
  justify-content: flex-start;
}

/* Estilos para los campos de información */
.containerflex {
  margin: 15px auto;
  width: 40%;
  max-width: 800px; /* Añadido un ancho máximo */
  min-width: 760px; /* Añadido un ancho mínimo */
  background-color: #f2f2f2;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 15px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.containerflex1 {
  margin: 15px;
  width: 80%;
  max-width: 800px; /* Añadido un ancho máximo */
  min-width: 760px; /* Añadido un ancho mínimo */
  background-color: #f2f2f2;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 15px;
}

.containerflex2 {
  margin: 15px;
  margin-left: 855px;
  margin-top: -185px;
  width: 80%;
  max-width: 800px; /* Añadido un ancho máximo */
  min-width: 760px; /* Añadido un ancho mínimo */
  background-color: #f2f2f2;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 15px;
}

.containerflex3 {
  margin: 15px;
  width: 80%;
  max-width: 800px; /* Añadido un ancho máximo */
  min-width: 760px; /* Añadido un ancho mínimo */
  background-color: #f2f2f2;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 15px;
}

.containerflex4 {
  margin: 15px;
  margin-left: 855px;
  margin-top: -180px;
  width: 80%;
  max-width: 800px; /* Añadido un ancho máximo */
  min-width: 760px; /* Añadido un ancho mínimo */
  background-color: #f2f2f2;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 15px;
}

/* Estilos para los campos de información */
.nombre-item {
  width: 25%;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 125px;
  margin-top: -74px;
}

.rut-item {
  width: 15%;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.año-item {
  width: 10%;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 315px;
  margin-top: -74px;
}

.grado-item {
  width: 18%;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 400px;
  margin-top: -74px;
}

.jerarquizacion-item {
  width: 15%;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.horascontrato-item {
  width: 16%;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 128px;
  margin-top: -74px;
}

.PosibleHorasDeDocencia-item {
  width: 25%;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 317px;
  margin-top: -74px;
}

.codigo-item {
  width: 20%;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 250px;
  margin-top: -60px;
}

.seccion-item {
  width: 20%;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 390px;
  margin-top: -74px;
}


.nombre-input,
.rut-input,
.grado-input,
.jerarquizacion-input,
.horascontrato-input,
.PosibleHorasDeDocencia-input {
width: 100%;
padding: 1px;
margin-bottom: 5px;
margin-left: 5px;
}


@media (max-width: 768px) {

  .containerflex {
    width: 80%; /* Cambiado de 66% a 80% */
    margin: 15px; /* Reducido el margen */
  }
  
  .nombre-item,
  .rut-item,
  .grado-item,
  .jerarquizacion-item,
  .horascontrato-item,
  .PosiblesHorasDeDocencia-item {
    display: block;
}
}

.botones-container {
  text-align: center; /* Centra los botones horizontalmente dentro del contenedor */
  margin-top: 20px; /* Agrega margen superior para separarlos del contenido anterior */
}

/* Estilos para los botones */
.boton {
  background-color: #D9D9D9; /* Color de fondo original */
  color: #000000; /* Color del texto original */
  padding: 1% 2%; /* Tamaño del botón */
  border: none;
  border-radius: 5px;
  margin: 5px; /* Espacio entre los botones */
  cursor: pointer;
  margin-top: 5%; /* Espacio entre la parte superior y los botones */
  transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave para el cambio de color de fondo y del texto */
}

/* Estilos para los botones cuando el mouse está sobre ellos */
.boton:hover {
  background-color: #003366; /* Nuevo color de fondo al pasar el mouse por encima */
  color: #ffffff; /* Nuevo color del texto al pasar el mouse por encima */
}

.h1{
  position: center;
}
.has{
position: relative;
}

/* Estilo para las celdas de la tabla */
.cell-box {
  border: 1px solid #ccc; /* Borde de 1 píxel con color gris claro */
  padding: 10px; /* Espaciado interior de 10 píxeles */
  text-align: center;
}

/* Estilo para centrar el texto dentro de las celdas de la tabla */
#asignaturas-body td {
  text-align: center; /* Centrar el texto horizontalmente */
}

/* Estilos para el botón Buscar Código */
.boton-item button {
 margin-left: 550px;
}
