<!DOCTYPE html>
<html>

<head>
  <title>Carga Academica</title>
</head>

<body>
  <app-barranavegacion></app-barranavegacion>
  <title>Carga Academica</title>
  <form>
    <div class="containerflex">
      <h1 class="titulo">Ingresar Carga</h1>

      <div class="rut-item row">
        <label for="rut" class="col1"><strong>Rut:</strong></label>
        <input type="text" id="rut" class="form-control1 col22" placeholder="12345678-9" required autocomplete="off" />
      </div>

      <div class="nombre-item row">
        <label for="nombre" class="col1"><strong>Nombre:</strong></label>
        <input type="text" id="nombre" class="form-control1 col22" placeholder="Nombre y apellidos" autocomplete="off" />
      </div>

      <div class="año-item row">
        <label for="año" class="col1"><strong>Año:</strong></label>
        <input type="text" id="año" class="form-control1 col22" autocomplete="off" [value]="currentYear" readonly
          style="background-color: #ffffff" />
      </div>

      <div class="grado-item row">
        <label for="grado" class="col1"><strong>Grado:</strong></label>
        <div id="grado" class="form-control2 col22" style="background-color: #ffffff"></div>
      </div>

      <div class="jerarquizacion-item row">
        <label for="jerarquizacion" class="col1"><strong>Jerarquizacion:</strong></label>
        <div id="jerarquizacion" class="form-control2 col22" style="background-color: #ffffff"></div>
      </div>

      <div class="horascontrato-item row">
        <label for="horascontrato" class="col1"><strong>Horas Contrato:</strong></label>
        <div id="horascontrato" class="form-control2 col22" style="background-color: #ffffff"></div>
      </div>

      <div class="PosibleHorasDeDocencia-item row">
        <label for="PosibleHorasDeDocencia-item" class="col1"><strong>Posible Horas de Docencia:</strong></label>
        <div id="PosibleHorasDeDocencia" class="form-control2 col22" style="background-color: #ffffff"></div>
      </div>
    </div>
  </form>

  <div class="flex-container">
    <!-- Docencia Directa -->
    <form>
      <div class="containerflex1">
        <h1 class="titulo">Docencia Directa</h1>

        <div class="codigo-item row">
          <label for="codigo" class="col1"><strong>Codigo:</strong></label>
          <input type="text" id="codigo" class="form-control1 col22" placeholder="Codigo Asignatura" required
            autocomplete="off" (change)="buscarSecciones()" uptwo>
        </div>

        <!-- Actualiza el llamado a la función agregarFilaTabla() para pasar el ID del tbody -->
        <div class="seccion-item row">
          <label for="seccion" class="col1"><strong>Seccion:</strong></label>
          <select id="seccion" class="form-control1 col22" (change)="agregarFila()"></select>
        </div>

        <table id="asignaturasTable">
          <thead>
            <tr>
              <td class="cell-box"><strong>Codigo</strong></td>
              <td class="cell-box"><strong>Sección</strong></td>
              <td class="cell-box"><strong>Nombre</strong></td>
              <td class="cell-box"><strong>Horas 45'</strong></td>
              <td class="cell-box"><strong>Minutos</strong></td>
              <td class="cell-box"><strong>Planificacion</strong></td>
              <td class="cell-box"><strong>Total</strong></td>
              <td class="cell-box"><strong>Confirmar</strong></td>
              <td class="cell-box"><strong>Eliminar</strong></td>
            </tr>
          </thead>
          <tbody id="asignaturas-body">
            <!-- Aquí se agregarán las filas dinámicamente -->
          </tbody>
          <button type="button" id="guardar-button" class="boton" (click)="guardarDatos()">Guardar</button>
        </table>
      </div>
    </form>

    <form>
      <div class="containerflex3">
        <h1 class="titulo">Otros Trabajos de Gestión Académica</h1>
        <table id="asignaturasTable2">
          <thead>
            <tr>
              <td class="cell-box"><strong>Concepto</strong></td>
              <td class="cell-box"><strong>Horas 60'</strong></td>
              <td class="cell-box"><strong>Minutos</strong></td>
            </tr>
          </thead>
          <tbody id="asignaturas-body">
            <!-- Aquí se agregarán las filas dinámicamente -->
          </tbody>
        </table>
      </div>
    </form>

    <form>
      <div class="containerflex4">
        <h1 class="titulo">Notas</h1>
        <textarea rows="4" cols="50" class="form-control2" placeholder="Escribe tus notas aquí"></textarea>
      </div>
    </form>
  </div>
</body>
</html>