<app-barranavegacion></app-barranavegacion>
<div class="container">
    <h1>Ver Profesor</h1>
  
    <a href="#" routerLink="/profesor/index-profe" class="btn btn-primary">Atras</a>
 
    <div>
        <strong>Rut:</strong>
        <p>{{ profesor.idProfesor }}</p>
    </div>
   
    <div>
        <strong>Nombre:</strong>
        <p>{{ profesor.Nombre }}</p>
    </div>
    <div>
        <strong>Apellido:</strong>
        <p>{{ profesor.Apellido }}</p>
    </div>
    <div>
        <strong>Tipo de Contrato:</strong>
        <p>{{ profesor.Tipo }}</p>
    </div>
    <div>
        <strong>Profesión:</strong>
        <p>{{ profesor.Profesion }}</p>
    </div>
    <div>
        <strong>Horas:</strong>
        <p>{{ profesor.Horas }}</p>
    </div>
    <div>
        <strong>Valor/Hora:</strong>
        <p>{{ profesor.ValorHora }}</p>
    </div>
    <div>
        <strong>Jerarquia:</strong>
        <p>{{ profesor.idJerarquia }}</p>
    </div>
    <div>
        <strong>Dirección:</strong>
        <p>{{ profesor.Direccion }}</p>
    </div>
    <div>
        <strong>Teléfono:</strong>
        <p>{{ profesor.Telefono }}</p>
    </div>
    <div>
        <strong>Grado Academico:</strong>
        <p>{{ profesor.Grado }}</p>
    </div>
    <div>
        <strong>Titulo Grado:</strong>
        <p>{{ profesor.TituloGrado }}</p>
    </div>
    <div>
        <strong>Estado:</strong>
        <p>{{ profesor.Estado }}</p>
    </div>
    

    
</div>
