<body>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <select formControlName="Facultad">
          <option *ngFor="let facultad of facultades" [value]="facultad.id">{{ facultad.nombre }}</option>
        </select>
        <select formControlName="Carrera">
          <option *ngFor="let carrera of Carreras" [value]="carrera">{{ carrera }}</option>
        </select>


        
        <td style="color: white;">{{ post.idAsignatura + '/Clase/'  }}</td>
        <button class="boton" type="submit">Crear</button>
      </form>
</body>