<app-barranavegacion></app-barranavegacion>

<div class="container">
    <h1>Visualizar Asignatura</h1>
  
    <a href="#" routerLink="/post/index" class="btn btn-primary">Volver</a>
   

    <div>
        <strong>Codigo Asignatura:</strong>
        <p>{{ post.idAsignatura }}</p>
    </div>

    <div>
        <strong>Nombre:</strong>
        <p>{{ post.Nombre }}</p>
    </div>
   
    <div>
        <strong>Tipo de Asignatura:</strong>
        <p>{{ post.TipoAsignatura }}</p>
    </div>

    <div>
        <strong>Cantidad de Alumnos:</strong>
        <p>{{ post.NumeroAlumnos }}</p>
    </div>
   
    <div>
        <strong>Horas lectivas:</strong>
        <p>{{ post.Horas }}</p>
    </div>
</div>