<html>
  <body>

<div class="container">
    <h1 style="color: white; margin-top: 10px;">Asignaturas</h1>
    <div class="btn-group" role="group" aria-label="Basic example">
  </div>
  <input type="text" class="search" placeholder="Buscar Asignatura" (keyup)="onSearch($event)">
    <table class="table table-striped table-bordered">
        <thead>
              <tr>   
                <th>Asignatura / Seccion</th>        
                <th>Codigo Asignatura</th>
                <th>Carrera</th>
                <th>Semestre</th>
              </tr>
        </thead>
        <tbody>
              <tr *ngFor="let seccion of filteredSeccion">
                <td>{{ seccion.idAsignaturaSeccion }}</td>
                <td>{{seccion.idAsignatura}}</td>
                <td>{{seccion.idSeccion}}</td>
                <td>{{seccion.Semestre}}</td>
              </tr>
        </tbody>
    </table>
</div>
</body>
</html>